body{
  margin: 0;
  background-color: rgb(37, 36, 33);
}
h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#timerBox{
  padding: 20px;
  background-color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer-Container{
  display: flex;
  padding: 80px 40px;
  background-color: bisque;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s,color 0.3s;
}
.timer-Container:hover{
  background-color: rgba(200,200,200,0.9);
  color:darkgoldenrod;
}
.timer-Container:hover p{
  color:darkslategray;
}
p{
  font-family: Arial;
  display: inline-block;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: darkgoldenrod;
  transition: color 0.3s;
}
#minute,#second,#miliSecond{
  margin-right: 5px;
  color:darkslategray;
}
#minute{
  font-size: 80px;
}
#second{
  font-size: 40px;
}
#miliSecond{
  font-size: 20px;
  font-weight: bold;
}
.timer-buttons{
  margin-top: 20px;
 padding: 50px;
 background-color: black;
 border-radius: 10px;
}
.js-start-button,.js-pause-button,.js-reset-button{
  padding: 10px 30px;
  font-size: 25px;
  font-weight: bold;
  background-color: bisque;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s,box-shadow 0.3s,color 0.3s;
}
.js-start-button:hover,.js-pause-button:hover,.js-reset-button:hover{
  box-shadow: 5px 5px 5px rgba(200,200,200,0.5);
  background-color: rgba(200,200,200,0.3);
  color: white;
}
.js-start-button:active,.js-pause-button:active,.js-reset-button:active{
  box-shadow: none;
  background-color: antiquewhite;
  color: black;
}
@media (max-width: 700px) {
  #timerBox{
    padding: 20px;
    background-color: teal;
    display: flex;
    flex-direction: column;
  }
  .timer-Container{
    display: flex;
    padding: 60px 10px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s,color 0.3s;
  }
  #minute,#second,#miliSecond{
    margin-right: 3px;
    color:darkslategray;
  }
  #minute{
    font-size: 40px;
  }
  #second{
    font-size: 40px;
  }
  #miliSecond{
    font-size: 40px;
    font-weight: normal;
  }
  .js-start-button,.js-pause-button,.js-reset-button{
    display: block;
    box-shadow: 5px 5px 5px rgba(200,200,200,0.5);
    background-color: rgba(200,200,200,0.3);
    color: white;
    margin-bottom: 20px;
  }
  .timer-buttons{
    margin-top: 20px;
    padding: 20px 30%;
    padding-bottom: 0px;
    background-color: black;
  }
  
}